html {
  font-size: 10px;
  background: #F8F8F8;
}

body {
  background: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


h1 {
  color: $darkGrey;
  font-size: 4rem;
  font-weight: 500;
}

.mainContent {
  padding: 90px 40px;
  min-height : 100%;
  .mainContent_header {
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    @media (min-width: 481px) {
      min-width: 237px;
      margin: 56px 0 35px 0;
      font-size: 40px;
      height: 47px;
    }
    @media (max-width: 480px) {
      min-width: 166px;
      margin: 13px 0 14px 25px;
      font-size: 28px;
      height: 33px;
    }
    span {
      font-weight: normal;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 768px;
  }
  @media (max-width: 480px) {
    width: 480px;
    padding: 90px 10px;
  }
  .mainContent_noResults {
    min-width: 299px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
  }
}