html {
  font-size: 10px;
  background: #F8F8F8;
}

body {
  background: #F8F8F8;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


h1 {
  color: $darkGrey;
  font-size: 4rem;
  font-weight: 500;
}

.mainContent {
  padding: 90px 40px;
  min-height : 100%;
  .mainContent_header {
    font-family: Roboto;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    @media (min-width: 481px) {
      min-width: 237px;
      margin: 56px 0 35px 0;
      font-size: 40px;
      height: 47px;
    }
    @media (max-width: 480px) {
      min-width: 166px;
      margin: 13px 0 14px 25px;
      font-size: 28px;
      height: 33px;
    }
    span {
      font-weight: normal;
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 768px;
  }
  @media (max-width: 480px) {
    width: 480px;
  }
  .mainContent_noResults {
    min-width: 299px;
    height: 24px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
  }
}


.modalWrapper_modal {
  position: fixed;
  z-index: 500;
  border-radius: 30px;
  background-color: #f8f8f8;
  box-shadow: 0 16px 29px 0 rgba(0, 0, 0, 0.3);
  padding: 25px;
  transition: all 0.3s ease-out;
  @media (min-width: 481px) {
    min-width: 543px;
    left: 15%;
    top: 10%;
    width: 500px;
    left: calc(50% - 250px);
  }
  @media (max-width: 480px) {
    top: 3%;
    left: 3%;
    width: 95%;
  }
}
.modalWrapper_backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalWrapper_profile-image {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    top: 109px;
    @media (max-width: 480px)  {
      display: none;
    }
  }
}